body {
    margin: 0;
    background-color: #000000;
    height: 10rem;
}

.container {
    display: flex;
    height: 30vh; /* full screen height */
}

.left {
    width: 50%;
    margin-left: -100px;
    margin-top: 32.5rem;
    background: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.right {
    width: 90rem;
    background: no-repeat;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
