@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}
body{
    
    /* background-image: url(pics.JPG); */
    /* background-position: left center ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 1rem;
    background-color: black; */
    /* height: 1%; */
    /* color:rgb(255, 200, 220); */
    /* font-family: "Poppins", sans-serif; */
    margin:0;

}
.position{
  display: flex;
  width: fit-content;
  height: fit-content;
} 
.title{
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: 10px;
  /* position: absolute; */
  align-items: center;
  color: #fbb0c8;
}
.countdown-container{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.big-text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 2rem;
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1rem;

}
.header{
    font-weight: bold;
    min-height: 100%;
    width: 12.2rem;
    /* background-position: left; */
    /* position: relative; */
    color: #0078d3;  
    background-color: #081e2b ;
    border-radius: 45px;
}

.backC{
  left: auto;
  right: auto;
  width: 100%;
  height: 100%;
  color: #fbb0c8;
   border: 5px solid;
border-radius: 45px;
}

